.home {
  text-align: center;
}
.product-img {
  width: 15rem;
  height: 12rem;
}
.product-card {
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem;
  width: 16rem;
  float: left;
  align-items: center;
}
